<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{js/update_status_checkbox.js}"></script>
    <title>Update status</title>
</head>
<body>
<div th:insert="/common/header :: headerForm"></div>
<div class="container">
    <div class="alert alert-success" role="alert" id="alertMessage">
        Successfully notify 2 matched license plate numbers
    </div>
    <h2>Update status</h2>
    <!--table-->
    <div class="container">
        <div class="row">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Owner ID</th>
                        <th scope="col">License Plate</th>
                        <th scope="col">Offence</th>
                        <th scope="col">Checkpoints</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="cbox">

                            </div>
                        </td>
                        <td>212333333</td>
                        <td>37A-99999</td>
                        <td>Stolen</td>
                        <td>C1, C2</td>
                        <td name="status">Notified</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" name="cbox">

                            </div>
                        </td>
                        <td>212444444</td>
                        <td>51F-88838</td>
                        <td>Wanted</td>
                        <td>C1, C3</td>
                        <td name="status">Notified</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default" onclick="checkAll()">Select All</button>
    <button type="button" class="btn btn-default" onclick="uncheckAll()">Clear</button>


    <button type="button" onclick="changeStatus()" > Resolve </button>

</div>

<script>
    for(let i = 0; i < 10; i++){
        $("#alertMessage").fadeIn();
        setTimeout( function (){
            $("#alertMessage").fadeOut();
        }, 10000);

        $("#alertMessage").fadeIn();
        $("#alertMessage").fadeOut();
    }
    // $("#alertMessage").fadeIn().delay(20000).fadeOut('slow');
    // $("#alertMessage").fadeIn( function()
    // {
    //     setTimeout( function()
    //     {
    //         $(".notice").fadeOut("fast");
    //     }, 2000);
    // });
    // $("#alertMessage").fadeIn();
    //
    function changeStatus() {
        var items = document.getElementsByName("cbox");
        for(var i =0; i<items.length; i++) {
            if (items[i].type == 'checkbox') {
                if($("tr").find("td div input")[i].checked == true) {
                    document.getElementsByName("status")[i].innerText = "Resolved";
                }
            }
        }

    }
</script>
</body>
</html>